<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AxSyncLibrary.Properties.Settings.ConnectionString"
            connectionString="Data Source=SV02LIVANI\JUMIS7;Initial Catalog=AxSyncZoho;Persist Security Info=True;User ID=axsynczoho;Password=axsynczoho"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>